<html>

<head>
  <title>DICOM APP</title>

  <script src="../static/deps/jquery-3.3.1.js"></script>
  <script src="../static/deps/cornerstoneWADOImageLoader.js"></script>
  <script src="../static/deps/dicomParser.js"></script>
  <script src="../static/deps/cornerstone.js"></script>
  <script src="../static/deps/cornerstoneTools.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../static/css/main.css">

</head>

<body>
  <header>
    <span>DICOM IMAGE SEGMENTER</span>
    <span>INSTYTUT ELEKTROTECHNIKI TEORETYCZNEJ I INFORMATYKI STOSOWANEJ</span>
  </header>

  <div id="content">
    <div id="file-input">
      <input type="file" id="selectFile">
    </div>

    <div style="width:512px;height:512px;position:relative;color: white;display:inline-block;border-style:solid;border-color:black;"
      oncontextmenu="return false" class="disable-selection noIbar" unselectable="on" onselectstart="return false;" onmousedown="return false;">
      <div id="image" style="width:512px;height:512px;top:0px;left:0px; position:absolute">
      </div>
    </div>
    <div id="seed-wrapper">
      <div>
        <button id="seed-button">Region growing</button>
      </div>
      <div id="seed-inputs-wrapper" style="margin-top:15px;">
        <div style="margin-bottom:2px">
          <span>Region standart:</span>
          <input name="seed" value="mean" type="radio" checked>Mean
          <input name="seed" value="median" type="radio">Median
        </div>
        <div style="margin-bottom:2px">
          <span style="margin-right:9px;">Neighborhood:</span>
          <input name="neighbours" value="4" type="radio" checked>4
          <input name="neighbours" value="8" type="radio">8
        </div>
        <div>
          <span>Distance ratio:</span>
          <input type="number" value="10" min="1" max="100">
        </div>
      </div>
    </div>

    <div id="kmeans-wrapper">
      <div>
        <button id="kmeans-button">K-means</button>
      </div>
      <div id="kmeans-inputs-wrapper" style="margin-top:15px;">
        <!-- <div style="margin-bottom:2px">
          <span>Region standart:</span>
          <input name="seed" value="mean" type="radio" checked>Mean
          <input name="seed" value="median" type="radio">Median
        </div>
        <div style="margin-bottom:2px">
          <span style="margin-right:9px;">Neighborhood:</span>
          <input name="neighbours" value="4" type="radio" checked>4
          <input name="neighbours" value="8" type="radio">8
        </div> -->
        <div>
          <span>Distance ratio:</span>
          <input type="number" value="10" min="2" max="10">
        </div>
      </div>
    </div>
    <div id="processing-button-wrapper">
      <button id="processing-button">START PROCESSING</button>
    </div>
  </div>

  <script src="../static/js/cornerstoneReader.js"></script>
  <script src="../static/js/inputs-handlers.js"></script>

</body>

</html>