<html>

<head>
  <title>DICOM APP</title>

  <script src="../static/deps/jquery-3.3.1.js"></script>
  <script src="../static/deps/cornerstoneWADOImageLoader.js"></script>
  <script src="../static/deps/dicomParser.js"></script>
  <script src="../static/deps/cornerstone.js"></script>
  <script src="../static/deps/cornerstoneTools.min.js"></script>
  <script async src="../static/deps/opencv.js" onload="onOpenCvReady();"></script>

  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

</head>

<body>
  <header>
    <span>DICOM IMAGE SEGMENTER</span>
    <span>INSTYTUT ELEKTROTECHNIKI TEORETYCZNEJ I INFORMATYKI STOSOWANEJ</span>
  </header>

  <div id="content">
    <div id="file-input" class="row">
      <!-- <input type="file" id="selectFile"> -->
      <div class="input-group mb-0 col-sm-3">
        <!-- <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div> -->
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="selectFile" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="selectFile">Choose file</label>
        </div>
      </div>

      <div class="col-sm-6"> </div>

      <div class="col-sm-3 text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dicomImgModal">Open Modal</button>
      </div>
    </div>
    <div id="frames-wrapper" style="position:relative;height:512px">
      <div style="width:512px;height:512px;position:absolute;left:0;color: white;display:inline-block;border-style:solid;border-color:black;"
        oncontextmenu="return false" class="disable-selection noIbar" unselectable="on" onselectstart="return false;" onmousedown="return false;">
        <div id="image" style="width:512px;height:512px;top:0px;left:0px; position:absolute">
        </div>
      </div>

      <div style="width:512px;height:512px;position:absolute;right:0;color: white;display:inline-block;border-style:solid;border-color:black;"
        oncontextmenu="return false" class="disable-selection noIbar" unselectable="on" onselectstart="return false;" onmousedown="return false;">
        <div id="processed-image" style="width:512px;height:512px;top:0px;right:0px; position:absolute">
          <canvas id="canvasOutput"></canvas>
        </div>
      </div>
    </div>
    <div id="buttons-wrapper" class="container-fluid" style="padding:0">
      <div id="seed-wrapper">
        <div>
          <button id="seed-button">Region growing</button>
        </div>
        <div id="seed-inputs-wrapper" style="margin-top:15px;">
          <div>
            <span>Region standart:</span>
            <input name="seed" value="mean" type="radio" checked>Mean
            <input name="seed" value="median" type="radio">Median
          </div>
          <div>
            <span>Neighborhood:</span>
            <input name="neighbours" value="4" type="radio" checked>4
            <input name="neighbours" value="8" type="radio">8
          </div>
          <div>
            <span>Distance ratio:</span>
            <input type="number" name="seed" value="10" min="1" max="100">
          </div>
          <div id="seed-coords-wrapper">
            <div style="display:inline-block">Choosen seed
              <br> points coordinates:
            </div>
            <div style="display:inline-block">
              <ol id="seed-list">
                <div id="no-seeds">No seed points choosen</div>
                </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="kmeans-wrapper">
        <div>
          <button id="kmeans-button">K-means</button>
        </div>
        <div id="kmeans-inputs-wrapper" style="margin-top:15px;">
          <div>
            <span>Number of clusters:</span>
            <input type="number" name="kmeans" value="3" min="2" max="9">
          </div>
        </div>
      </div>

      <div id="fuzzy-wrapper">
        <div>
          <button id="fuzzy-button">Fuzzy c-means</button>
        </div>
        <div id="fuzzy-inputs-wrapper" style="margin-top:15px;">
          <div>
            <span>Number of clusters:</span>
            <input type="number" name="fuzzy" value="10" min="2" max="9">
          </div>
        </div>
      </div>
      <div id="processing-button-wrapper">
        <button id="processing-button">START PROCESSING</button>
      </div>
    </div>
    <div id="spinner"></div>




    <div class="modal" tabindex="-1" role="dialog" id="dicomImgModal" style="color:black">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <!-- CAROUSEL STARTS HERE -->
            <div id="dicom-images-carousel" class="carousel slide">

              <!-- Indicators -->
              <ul class="carousel-indicators">
              </ul>

              <!-- The slideshow -->
              <div class="carousel-inner" style="text-align:center">
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#dicom-images-carousel">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#dicom-images-carousel">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
            <!-- CAROUSEL ENDS HERE -->

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- <h2>Hello OpenCV.js</h2>
    <p id="status">OpenCV.js is loading...</p>
    <div>
      <div class="inputoutput">
        <img id="imageSrc" alt="No Image" />
        <div class="caption">imageSrc
          <input type="file" id="fileInput" name="file" />
        </div>
      </div>
      <div class="inputoutput">
        <canvas id="canvasOutput"></canvas>
        <div class="caption">canvasOutput</div>
      </div>
    </div> -->
  </div>

  <script src="../static/js/cornerstoneReader.js"></script>
  <script src="../static/js/main.js"></script>

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script type="text/javascript">

    function onOpenCvReady() {
      // let m = cv.matFromArray(1, 8, cv.CV_8UC1, [255, 255, 255, 255, 255, 255, 255, 255]);
      // console.log(m.data)

      // cv.imshow('canvasOutput', m);
    }
  </script>
</body>

</html>