body {
  margin: 0;
}

header {
  background: black;
  color: #91b9cd;
  text-align: center;
  height: 6%;
  position: relative;
}

header span:first-child {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 16px;
  font-size: 25px;
}

header span:last-child {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 4px;
  font-size: 13px;
}

#content {
  background: #151a1f;
  height: 100%;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
}

input[type="file"] {
  color: white;
}

#file-input {
  padding-top: 15px;
  margin-bottom: 15px;
}

#processing-button-wrapper {
  margin-top: 15px;
}

#processing-button-wrapper>button {
  background:rebeccapurple;
  border-radius: 5px;
  border: none;
  height: 29px;
  color: white;
}

#seed-wrapper {
  margin-top: 15px;
}

input[type="number"] {
  margin-left: 17px;
  min-width: 125px;
}

#seed-inputs-wrapper,#kmeans-inputs-wrapper,#fuzzy-inputs-wrapper {
  display: none;
}

#seed-wrapper,#kmeans-wrapper,#fuzzy-wrapper {
  margin-bottom: 20px;
}

#seed-button,#kmeans-button,#fuzzy-button {
  width: 140px;
}

button:not(#processing-button) {
  background: #20a5d6;
  color: white;
}