body {
  margin: 0;
}

header {
  background: black;
  color: #91b9cd;
  text-align: center;
  height: 6%;
  position: relative;
}

header span:first-child {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 16px;
  font-size: 25px;
}

header span:last-child {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 4px;
  font-size: 13px;
}

#content {
  background: #151a1f;
  min-height: 100%;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
}

input[type="file"] {
  color: white;
}

#file-input {
  padding: 20px 0 20px 0;
}

#processing-button-wrapper {
  margin-top: 15px;
}

#processing-button-wrapper>button {
  background: rebeccapurple;
  border-radius: 5px;
  color: white;
}

#seed-wrapper {
  margin-top: 15px;
}

input[type="number"] {
  margin-left: 17px;
  min-width: 125px;
}

#seed-inputs-wrapper, #kmeans-inputs-wrapper, #fuzzy-inputs-wrapper {
  display: none;
}

#seed-wrapper, #kmeans-wrapper, #fuzzy-wrapper {
  margin-bottom: 20px;
}

#seed-button, #kmeans-button, #fuzzy-button {
  width: 140px;
}

button:not(#processing-button) {
  background: #20a5d6;
  color: white;
}

#seed-inputs-wrapper>div {
  margin-bottom: 7px;
}

#seed-coords-wrapper>div>ol {
  /* padding: 0; */
  margin: 0;
}

#seed-coords-wrapper div:first-child {
  vertical-align: top;
}

.cornerstone-canvas:hover {
  cursor: crosshair;
}

#buttons-wrapper {
  visibility: hidden;
}

/* .carousel-caption {
  position: static;
} */

.modal-content {
  background-color: grey !important;
}

.filters-list>li {
  border-radius: 4px;
  padding: 5px;
  background-color: rgb(68, 66, 66);
  margin-bottom: 5px;
}

.filters-list>li:hover {
  cursor: pointer;
}

.seed-options-right {
  position: absolute;
  right: 0;
}

.options1 {
  margin-right: 20px;
}

.options2 {
  margin-right: 32px;
}

.options3 {
  margin-right: 18px;
}

.options4 {
  margin-right: -21px;
}